.IconList {
  color: rgb(85, 85, 85);
  font-size: 14px;
  font-feature-settings: 'tnum';
  font-weight: 400;
  width: 100%;
}

.IconList .IconList__Item {
  width: 140px;
  height: 90px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: .2rem .4rem;
  border-radius: 0.5em;
  background-color: transparent;
  transition: background-color 0.1s ease, border-color 0.1s ease, top .3s ease, left .3s ease;
  position: absolute;
  background: #fff;
  border: 1px solid white;
}

.IconList .IconList__Item:hover {
  background: #1890ff;
  border-color: #007bed;
}

.IconList .IconList__Item::before,
.IconList .IconList__Item::after {
  background: #666666;
  opacity: 0;
  position: absolute;
  display: block;
  transition: opacity 0.1s ease;
}

.IconList .IconList__Item::before {
  content: "";
  width: .5rem;
  height: .5rem;
  transform: rotate(45deg);
  z-index: 90;
  top: 100%;
  border: 1px solid white;
}

.IconList .IconList__Item::after {
  font-family: "Lucida Console", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  content: attr(title);
  top: 105%;
  z-index: 999;
  font-size: .8em;
  color: white;
  padding: .3rem .8rem;
  border-radius: 4px;
  /* left: 0; */
  white-space: nowrap;
}

.IconList .IconList__Item:hover::before,
.IconList .IconList__Item:hover::after {
  opacity: 1;
}

.IconList .IconList__Item:hover .ant-typography {
  color: white;
}

.IconList .IconList__Item > span {
  font-family: "Lucida Console", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  width: 100%;
  margin: .2em 0;
  font-size: 12px;
  color: #555
}

.IconList .IconList__Item:hover  > span {
  color: white;
}

.IconList i.mdi-icon {
  width: 36px;
  height: 36px;
  display: inline-block;
}

.IconList i.mdi-icon.reverse {
  position: absolute;
  left: 50%;
  margin: 0 -18px;
  opacity: 0;
  transition: opacity 0.1s ease;
}

.IconList .IconList__Item:hover i.mdi-icon.reverse {
  opacity: 1;
}
