:root {
  --blue: #1890FF;
  --red: #F5222D;
  --green: #52C41A;

  --on-table: 992px;
}

html, body {
  margin: 0;
  padding: 0
}

#roo {
  position: relative;
}

code {
  background: #f5f5f5;
  color: #444;
  padding: .2em .5em;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 12px;
}

header,
section,
footer {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  justify-content: center;
  background: #fff;
}

header {
  height: 296px;
  padding-bottom: 6rem;
  align-items: center;
  line-height: 1em;
}

section.search-container{
  position: absolute;
  top: 312px;
  transition: box-shadow .3s ease;
  z-index: 1000;
  padding: 0;
}

section.search-container .search{
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  padding: 1em;
  display: flex
}

body.fixed section.search-container {
  position: fixed;
  box-shadow: 0 .1em .2em rgba(0,0,0,.2);
  top: 0;
}

body.fixed .ant-message {
  top: 79px
}

section.search-container .ant-btn {
  margin-left: .5em;
  font-size: 24px;
  padding-bottom: 0;
  height: 38px;
}

section.search-container .ant-btn .npm svg {
  height: 38px;
  width: auto
}

section.search-container .ant-input-group-addon .ant-btn {
  margin-left: 0;
  height: 40px;
}

section.search-container .ant-input-search {
  flex: 0 1 auto
}

section.icon-list {
  max-width: 1120px;
}

@media only screen and (max-width: var(--on-table)) {

}