import {IconComponentProps} from '@ant-design/icons/lib/components/Icon'
import * as React from "react";

type BaseIconProps = React.PropsWithoutRef<IconComponentProps> & React.RefAttributes<HTMLSpanElement>
export type IconProps = Omit<BaseIconProps, 'ref'> & { ref?: Exclude<BaseIconProps['ref'], string> }
